<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NOOBIE-IDE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" sizes="16x16" href="{{ url_for('static', filename='logo_originale.png')}}" type="image/png">
</head>
<body>
    <nav class="navbar">
        <img class="logo-img" alt="NOOBIE logo" src="{{ url_for('static', filename='logo_bianco.png' )}}">
        <!--h1 class="logo"> &lt;/&gt;NOOBIE IDE</h1-->
        <div class="nav-buttons">
            <button id="run-btn">Run</button>
            <button id="clear-btn">Clear</button>
            <button id="save-btn">Save</button>
            <label for="open-file" class="file-label">Open</label>
            <input type="file" id="open-file" accept=".noob" hidden>
            <a href="https://noobieofficial.github.io/noobie-site" id="site-btn" class="site-btn" target="_blank">Official Website</a>
        </div>
    </nav>

    <div class="container">
        <div class="editor active" id="editor-panel">
            <h2>Editor</h2>
            <div id="program-box" class="box">
                <pre id="line-numbers">1</pre>
                <div id="program-scroller">
                    <form id="code-form">
                        <textarea name="program" id="program" placeholder="say &quot;Hello World!&quot; end"></textarea>
                    </form>
                </div>
            </div>
        </div>
        <div class="console" id="console-panel">
            <h2>Console</h2>
            <pre id="console-output">The output will appear here...</pre>
        </div>
    </div>

    <button class="mobile-btn mobile-btn-left" id="btn-left" onclick="showPanel('editor-panel')">&lt;</button>
    <button class="mobile-btn mobile-btn-right" id="btn-right" onclick="showPanel('console-panel')">&gt;</button>

    <script src="{{ url_for('static', filename='script.js')}}"></script>
</body>
</html>
